/* Header */
.header {
  background-color: #fff;
  padding: 15px 0;
}
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  padding: 0 25px;
  margin: 0 auto;
}

.headerLogo img {
  width: 150px;
}

.headerNav {
  display: flex;
  align-items: center;
}

.headerNav a {
  font-size: 16px;
  color: #343434;
  text-decoration: none;
  padding-left: 25px;
}

.headerNav .btnSignUp {
  border-radius: 100px;
  padding: 6px 21px;
  color: #fff;
  background-color: var(--colorPrimary);
  margin-left: 25px;
}
