.inventory {
  background-image: url(../../img/hero.png);
  background-size: cover;
  background-position: center center;
  min-height: 600px;
  height: 100vh;
  padding: 100px 50px;
  text-align: center;
}

.fullForm {
  width: 70%;
  padding: 40px 0px;
  background-color: #fff;
  border-radius: 0px 10px 10px 0px;
  margin: 0 auto;
}

.fullForm input {
  color: #000;
}

.fullForm input,
select {
  width: 80%;
  border: none;
  background: none;
  padding: 15px 3px;
  font-size: 15px;
  border-bottom: 1px solid #dddd;
  margin-bottom: 10px;
}

.inventoryBtn {
  width: 80%;
  margin-top: 20px;
}

.successMsg {
  color: red;
}
