.deliveryContainer{
    padding: 50px;
}

.deliveryContainer h1{
    padding-bottom: 20px;
}

.deleveryRow{
    display: flex;
    justify-content: space-between;
}

.deliveryCart{
    width: 30%;
    margin-top: 30px;
    border-radius: 30px;
    transition: all .3s ease;
}

.deleveryIcon img{
    width: 40px;
}

.deleveryContent, .deleveryIcon{
    padding: 10px;
}
.deleveryContent p{
    padding: 10px 0;
}
.deleveryContent a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.deleveryContent svg{
    margin-left: 10px;
    color: #ffff;
    padding: 8px 9px;
    border-radius: 50%;
    background-color: rgb(93, 194, 75);
}

.rightIcon{
    color:#ffff;
}

.deliveryCart:hover{
    box-shadow: 0 5px 15px 3px #eee;
}

.deleveryCol{
    display: flex;
    justify-content: space-between;
}