@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --colorPrimary: #f91944;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0;
}

img {
  width: 100%;
}

.inventory a {
  text-decoration: none;
  color: #fff;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}
.btnFull {
  color: #fff;
  background-color: var(--colorPrimary);
}
.btnMuted {
  color: #fff;
  background-color: #ddd;
}

/* Header */
.header {
  background-color: #fff;
  padding: 20px 0;
}
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.headerLogo img {
  width: 200px;
}

.headerNav {
  display: flex;
  align-items: center;
}
.headerNav > * {
  margin: 0 10px;
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.userInfo img {
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
}

/* From */
form {
  width: 550px;
  margin: 0 auto;
  text-align: center;
}

form input {
  width: 90%;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  font-size: 14px;
}

input:focus {
  outline: 0;
}

form .input {
  background-color: #fff;
  border: none;
}

.formText {
  margin-top: 20px;
  cursor: pointer;
  font-size: 15px;
}
